* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  margin-bottom: 80px;
}

h3 {
  font-size: 18px;
}

footer {
  height: 50px;
  color: white;
  font-weight: bolder;
  font-family: Solway, Arial;
  text-align: center;
  line-height: 50px;
  width: 100%;
  letter-spacing: 4px;
  background-color: #24a5fb;
  position: fixed;
  bottom: 0;
}

#mainTitle {
  margin-top: 25px;
  padding-left: 10px;
  text-align: right;
  width: 95%;
}

.cont-mainPage {
  text-align: center;
  text-align: justify;
  max-width: 80%;
  margin-left: 35px;
  line-height: 45px;
}
.cont-mainPage p {
  margin-bottom: 30px;
}

#skillsTitle {
  color: green;
  font-size: 20px;
  margin-top: 10px;
}

#skillsCont {
  margin-top: 10px;
  list-style-type: none;
  margin-left: 35px;
}

.aboutTitle {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.aboutContainer {
  padding-top: 10px;
  padding-left: 60px;
  line-height: 35px;
  margin-bottom: 25px;
  width: 75%;
  text-align: justify;
}

.aboutShort {
  font-size: 18px;
  width: 80%;
}

.aboutLink {
  text-decoration: none;
  color: black;
}
.aboutLink:visited {
  color: black;
}

.endContainer {
  margin-bottom: 75px;
}

#guido-img {
  border-style: solid;
  border-width: 1px;
  margin-left: 25px;
  margin-right: 25px;
  height: 400px;
  position: absolute;
  top: 150px;
  right: 50px;
}

.logo {
  width: 50px;
  background: red;
}

.portfolioContainer {
  margin-top: 25px;
}

.gridRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.eachApp {
  height: 250px;
  width: 300px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 50px;
  background-color: #c8c5c5;
  position: relative;
  border-radius: 10%;
  -webkit-box-shadow: 10px 18px 49px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 18px 49px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 18px 49px -19px rgba(0, 0, 0, 0.75);
}

.eachApp:hover,
#appImg:hover {
  opacity: 0.75;
}

.linkApp .textApp {
  width: 75%;
  color: black;
  position: absolute;
  left: 55px;
  top: 175px;
  font-family: 'Verdana', sans-serif;
}

#appImg {
  width: 100%;
  height: 60%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.contactBox {
  position: absolute;
  top: 150px;
  left: 300px;
  text-align: center;
  line-height: 45px;
}

.navBarTop {
  height: 35px;
  background-color: #1fd8a7;
  border-bottom: 1px solid black;
  font-size: 35px;
  padding: 5px;
  padding-bottom: 15px;
  display: flex;
  position: relative;
  z-index: 2;
  font-family: Montserrat, sans-serif;
}

#guido {
  margin-left: 10px;
}

.navBarLeftUl {
  background-color: #1fd8a7;
  color: white;
  border-bottom: 1px solid black;
  text-align: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: -25%;
  width: 22%;
  z-index: 1;
  padding-top: 18px;
}

.navBarLeftUl > li {
  font-size: 20px;
  margin-top: 20px;
  position: relative;
  color: white;
}

.navBarLeftUl > li > a {
  text-decoration: none;
  color: white;
}

.navBarLeftUl > li > a:hover {
  opacity: 0.7;
}

.lateralBarContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  top: 205px;
  right: 0;
}

.burgerDiv {
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
}
.burgerLines {
  width: 33px;

  height: 4px;
  margin-bottom: 5px;
  background: #0f6434;
  border-radius: 5px;
  display: block;
  transform-origin: left top;
  transition: transform 0.3s linear, background 0.5s linear, opacity 0.55s ease;
}

.cruz {
  opacity: 1;
}

.cruz:first-child {
  transform: rotate(45deg);
  background-color: black;
  transform-origin: 0% 0%;
}

.cruz:nth-child(2) {
  opacity: 0;
}

.cruz:nth-child(3) {
  transform: rotate(-45deg);
  background-color: black;
  transform-origin: 15% 100%;
}

.fab,
.fas {
  font-size: 27px;
  width: 20px;
  height: 20x;
  text-decoration: none;
  padding: 15px;
  padding-left: 7px;
}

.fas:hover {
  opacity: 0.6;
}

.fa-star {
  font-size: 15px;
  margin-right: -15px;
}

.fab:hover {
  opacity: 0.5;
  text-decoration: none;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-github {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

@media only screen and (max-width: 600px) {
  #mainTitle {
    text-align: center;
  }

  .navBarLeftUl {
    width: 25%;
  }
  .navBarLeftUl > li {
    font-size: 18px;
  }
  .contactBox {
    left: 20px;
    width: 300px;
  }
  .cont-mainPage p {
    width: 250px;
  }

  .aboutContainer,
  .aboutTitle {
    padding-left: 40px;
    width: 250px;
  }
  .eachApp {
    height: 250px;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 1250px) {
  #guido-img {
    display: none;
  }
}
